.main {
    margin-top: 5rem;
    text-align: center;
}

.carousel-inner {
    height: 64vh;
    text-align: center;
}

.slideImg {
    width: auto;
    height: 37.5rem;
}

.gamesButton {
    padding: 0.3rem;
    margin: 1rem 0rem 0rem 0rem;
}

.orderHistoryMain {
    margin: 1rem 0rem 0rem 0rem;
}

.successMain {
    text-align: center;
    margin-top: 7rem;
}