.cart {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 20%;
    max-width: 30%;
    max-height: 60%;
    overflow: auto;
    padding: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 0.5rem;
    z-index: 9999;
    background-color: white;
}

.closeCart {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.img {
    margin: 0rem 1.5rem 0rem 0.3rem;
    font-size: 1.5rem;
  }

  .cartClosed {
    cursor: pointer;
  }




