.header {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px solid rbga(128, 128, 128, 1);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

}

.nav ul {
    display: flex;
    list-style: none;
}

.retroClassicsLink {
    text-decoration: none;
    color: black;
}

.navLinks {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0.2rem;
    font-size: 1.2rem;
    color: black;
}